/* Global */

:root {
  /* Color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #cccccc;
  --color-gray: #adb5bd;
  --color-dark-gray: #868e96;
  --color-dark-gray2: #495057;
  --color-nct-light: #ffffee;
  --color-nct-light-neon: #eff9bb;
  --color-nct-neon: #cced1d;
  --color-nct-dark-green: #6f8111;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-black: 900;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
  background-color: var(--color-nct-light);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* navbar */
#navbar {
  width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 48px 0;
  color: var(--color-dark-gray2);
  font-weight: var(--weight-medium);
}

.team {
  display: flex;
  align-items: center;
  color: var(--color-dark-gray2);
}

.fa-music {
  font-size: 44px;
}

.teamTitle {
  margin-right: 5px;
  margin-left: 15px;
  font-size: 17px;
}

.teamName {
  font-weight: var(--weight-bold);
  font-size: 20px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  margin: 16px;
  cursor: pointer;
  border-radius: 2px;
}

.navbar__menu__item a {
  color: var(--color-dark-gray2);
  font-size: 20px;
  margin: 0;
}

.navbar__menu .fa-play {
  font-size: 14px;
  position: relative;
  top: -9px;
  left: -3px;
}

.navbar__menu .far {
  opacity: 0.5;
}

/* navigation Tabs */
#navTabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.navTabs__title {
  font-size: 26px;
  color: var(--color-nct-neon);
  font-weight: var(--weight-bold);
  margin: 10px 0 15px;
  transform: translateX(5px);
}

.navTabs__title .fa-play {
  font-size: 14px;
  position: relative;
  top: -17px;
  left: -3px;
}

.navTabs__description {
  width: 210px;
  font-size: 25px;
  text-align: left;
}

.navTabs__description__p {
  font-weight: var(--weight-light);
  margin: 5px 0;
  padding-left: 10px;
}

.navTabs__description__box {
  margin: 0;
  padding-left: 8px;
  width: 200px;
  border: 3px solid var(--color-nct-neon);
  font-weight: var(--weight-medium);
  color: var(--color-nct-dark-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-caret-down {
  color: var(--color-gray);
  font-size: 15px;
  transform: translateX(-10px);
  opacity: 0.5;
}

.navTabs__clickImg {
  padding-top: 24px;
}

.navTabs__clickImg__img {
  width: 560px;
  border-radius: 4px;
}

.navTabs__click {
  padding: 5px;
  color: #495057;
}

.navTabs__survey {
  width: 560px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  border: 1px outset var(--color-gray);
  border-radius: 12px;
  margin-top: 15px;
  padding: 12px;
  background-color: var(--color-white);
}

.fa-poll-h {
  font-size: 50px;
  line-height: 52px;
  padding: 0 12px;
  background-color: var(--color-white);
}

.navTabs__survey__guide {
  margin: 0;
  line-height: 52px;
  background-color: var(--color-white);
  color: #adb5bd;
}

.navTabs__line {
  width: 1000px;
  height: 1px;
  background-color: var(--color-gray);
  margin: 40px 0 60px 0;
  content: '';
}

/* N Search */
#nSearch {
  width: 800px;
  margin: auto;
  text-align: center;
}

.nSearch__box {
  width: 560px;
  height: 225px;
  margin: auto;
  border: 1px outset var(--color-gray);
  border-radius: 12px;
  padding: 30px 35px 15px 35px;
}

.nSearch__head {
  display: flex;
  align-items: center;
}

.nSearch__head__title {
  margin: 0;
  font-size: 26px;
  color: var(--color-black);
  font-weight: var(--weight-medium);
}

.fa-i-cursor {
  font-size: 25px;
  color: var(--color-light-gray);
}

.nSearch__head__beta {
  margin: 0;
  font-size: 15px;
  padding-bottom: 12px;
  color: darkred;
}

.nSearch__description {
  margin: 12px 0;
  font-size: 18px;
  text-align: left;
  font-weight: var(--weight-light);
}

.nSearch__input {
  border: 2px solid var(--color-nct-neon);
  border-radius: 6px;
  padding: 0 15px;
  height: 45px;
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.nSearch__input__searchBar {
  border: none;
  font-size: 16px;
  font-weight: var(--weight-light);
  line-height: 41px;
  width: 430px;
}

input:focus {
  outline: none;
}

.nSearch__input__searchBtn {
  text-align: end;
}

.hide {
  /* 사용자가 아무것도 입력하지 않았을 때 검색창을 숨기는 용도*/
  display: none !important;
}

.rel_search {
  max-height: 400px;
  margin-top: 3px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid var(--color-nct-neon);
  border-radius: 6px;
  overflow: auto;
}

.pop_rel_keywords {
  max-height: 300px;
  list-style: none;
  margin: 0;
}

.pop_rel_keywords > li {
  /* JS에서 동적으로 li를 생성할 때 적용될 스타일*/
  padding: 1.2% 1% 1.2% 2%;
  margin: 0 10px;
  background-color: transparent;
  border-bottom: solid 1px var(--color-nct-dark-green);
  cursor: pointer;
  line-height: 250%;
  text-align: left;
}

.pop_rel_keywords > li:hover {
  opacity: 80%;
  color: green;
}

.musicItem {
  background-color: tomato;
  display: flex;
}

.item__right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item__right__title {
  margin-left: 3%;
  line-height: 50px;
  font-size: 18px;
}

.item__right__artist {
  margin-right: 2%;
  line-height: 50px;
  font-size: 14px;
}

.pressed {
  opacity: 80%;
  color: green;
}

/* footer */
#footer {
  text-align: center;
  margin: 200px 0 50px 0;
}

.footer__copyright {
  font-size: 15px;
  font-weight: var(--weight-medium);
  color: var(--color-gray);
}

.footer__description {
  font-size: 13px;
  margin: 3px 0;
  color: var(--color-gray);
}

.footer__madeBy {
  font-size: 10px;
  color: var(--color-gray);
}
